@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');

@import url("style/header.css");
@import url("style/banner.css");

:root {
    --azul-um: #effbff;
    --azul-dois: #36cbfd;
    --azul-tres: #1D24CA;
    --azul-quatro: #001d86;
    --azul-cinco: #201658;

    --azul-degrade-light: ;
    --azul-degrade-dark: linear-gradient(to bottom right, #201658, #001d86);;

    --cor-dois:#f0e4c8;
    --cor-tres: #ffdd00;

    --font-marker: "Permanent Marker", cursive;
    --font-paint: "Finger Paint", sans-serif;
    --font-graf: "Rubik Wet Paint", system-ui;
}

*{ /*reset margem */
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--azul-um);
    color: var(--azul-cinco);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
}

.custom-botao {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
}