@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Rubik+Wet+Paint&display=swap');

@import url("style/header.css");
@import url("style/banner.css");
@import url("style/about.css");

:root {
    --azul-um: #effbff;
    --azul-um-um: #c4f1ff;
    --azul-dois: #36cbfd;
    --azul-tres: #1D24CA;
    --azul-quatro: #001d86;
    --azul-cinco: #201658;

    --cor-dois:#fcf4e1;
    --cor-dois-t:#f0e4c8ce;
    --cor-tres: #ffdd00;

    --font-marker: "Permanent Marker", cursive;
    --font-paint: "Finger Paint", sans-serif;
    --font-graf: "Rubik Wet Paint", system-ui;
}

*{ /*reset margem */
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, var(--azul-um), var(--azul-um-um));
    color: var(--azul-quatro);
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    cursor: url("assets/icons/graffite.png")
}

.container {
    height: 43vw;
}

.custom-botao {
    text-decoration: none;
    cursor: url("assets/icons/graffitePointer.png");
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
}

.titulo {
    text-align: center;
    align-items: center;
    padding: 1rem;
    font-family: var(--font-marker);
    font-weight: 400;
    font-size: 1.5vw;
    color: var(--azul-tres);
}

.show {
    position: relative; 
    z-index: 1; 
}

@media screen and (max-width:600px) {
    .container {
        height: 110vw;
    }

    .titulo {
        font-size: 3vw;
    }
}