.sobremim_div {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* ========== HISTORIA ========== */
.sobremim_carreira {
    display: flex;
}
.slider {
    text-align: center;
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
    top: 3vw;
    display: flex;
    justify-content: center;
}
.carreira_card {
    background-color: var(--cor-dois);
    height: 25vw;
    width: 18vw;
    border: 3px solid var(--azul-dois);
    border-radius: 1em;
    position: absolute;
    text-align: justify;
    transition: 0.5s;
    top: 1em;
}
#next, #prev {
    position: absolute;
    color: var(--azul-dois);
    background-color: transparent;
    border: none;
    font-size: 2.5em;
    font-family: var(--font-graf);
    font-weight: 400;
    left: 11vw;
    cursor: pointer;
    margin-top: 15vw;
    opacity: 0.5;
    transition: opacity 0.5s;
}
#next {
    left: unset;
    right: 60vw;
}
#prev:hover,
#next:hover{
    opacity: 1;
    text-shadow: 0 0 5px var(--cor-tres);
}

.bullets {
    display: flex;
    margin: 0 0 1em 1vw;
    align-items: center;
    position: absolute;
}

.bullet {
    width: 10px;
    height: 10px;
    background-color:var(--azul-quatro);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bullet.active {
    background-color: var(--cor-dois);
    border: 2px solid var(--azul-quatro);
}

.carreira_card_data {
    display: flex;
    justify-content: space-between;
    margin: 1vw 1em;
    padding-bottom: 1vw;
    border-bottom: 2px solid var(--azul-dois);
}
.carreira_titulo {
    font-family: var(--font-marker);
    font-size: 1.5rem;
}
.carreira_texto {
    margin: 0 1vw;
    font-family: var(--font-paint);
    font-size: 1vw;
    font-weight: 400;
}
/* ========== DESCRIÇÕES ========== */ 
.sobremim_desc {
    display: flex;
    flex-direction: column;
    margin: 0 10vw 0 0;
    border-left: 0.2rem solid var(--azul-tres);
    padding: 0 0 0 1rem;
}

/* ========== SOBRE ========== */
.sobremim_desc_texto {
    display: flex;
    border-radius: 1rem;
    background-color: var(--cor-dois-t);
    place-items: center;
    position: relative;
    overflow: hidden;
    height: 18vw;
    width: auto;
}
.sobremim_desc_texto::before {
    content: "";
    width: 60vw;
    height: 14vw;
    left: -30%;
    top: 10%;
    position: absolute;
    background: var(--azul-dois);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.sobremim_desc_texto::after {
    content: "";
    position: absolute;
    background: var(--cor-dois);
    inset: 3px;
    border-radius: 1rem;
}

.sobremim_desc_texto-sobre {
    font-family: var(--font-paint);
    color: var(--azul-quatro);
    font-weight: 400;
    font-size: 1.2vw;
    padding: 1.8vw;
    max-width: 90%;
    float: left;
    letter-spacing: 0px;
}


/* ========== INFOS ========== */
.sobremim_infos {
    display: flex;
    gap: 1vw;
    margin: 3vw 0 0 0;
}

.sobremim_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--cor-dois-t);
    position: relative;
    overflow: hidden;
    height: 13vw;
    width: 15vw;
}
.sobremim_card::before {
    content: "";
    width: 10vw;
    height: 40vw;
    left: 6%;
    top: -103%;
    position: absolute;
    background: var(--azul-dois);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.sobremim_card::after {
    content: "";
    position: absolute;
    background: var(--cor-dois);
    inset: 3px;
    border-radius: 1rem;
}

.info__img{
    margin: 1vw;
    width: 2vw;
}

.info_titulo {
    color: var(--azul-tres);
    font-size: 2.5vw;
    font-weight: 400;
    font-family: var(--font-graf);
}

.info_texto_sub {
    font-family: var(--font-paint);
    font-weight: bold;
    font-size: 2vw;
    color: var(--azul-tres);
    align-items: center;
}

.info_texto {
    font-family: var(--font-paint);
    font-weight: 400;
    font-size: 1vw;
    align-items: center;
}


@media screen and (max-width:840px) {
    .sobremim_desc {
        margin: 0 5vw 0 0
    }
}

@media screen and (max-width:600px) {
     .sobremim_div {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sobremim_desc {
        padding: 5vw 2vw;
    }

    .sobremim_desc {
        align-items: center;
        border-left: none;
        margin: 0;
    }

    .sobremim_desc_texto {
        height: 50vw;
    }
    .sobremim_desc_texto::before {
        width: 150vw;
        height: 40vw;
        left: -20;
        top: 12.2%;
    }
    .sobremim_desc_texto-sobre {
        font-size: 3vw;
        width: auto;
    }

    .sobremim_infos{
        gap: 4vw;
    }
    .sobremim_card {
        height: 28vw;
        width: 28vw;
    }
    .sobremim_card::before {
        width: 19vw;
        height: 50vw;
        left: 16%;
        top: -40%;
    }
    .info__img{
        width: 5vw;
    }
    
    .info_titulo {
        font-size: 7vw;
    }
    
    .info_texto_sub {
        font-size: 5vw;
    }
    
    .info_texto {
        font-size: 2.5vw;
    }



    .slider {
        margin: 0vw 0 0 0;
        width: 100%;
        height: 50vw;
        top: 0;
    }
    .carreira_card {
        width: 30vw;
        height: 43vw;
    }
    .carreira_card_data {
        justify-content: center;
    }
    #next {
        right: 28vw;
    }
    #prev {
        left: 28vw;
    }
    #prev, #next {
        margin-top: 10vw;
    }
    .carreira_titulo {
        font-size: 1.5rem;
    }
    .carreira_img {
        display: none;
    }
    .carreira_texto {
        font-size: 1.8vw;
    }

}

