.banner {
    background-image: url("../assets/Bricks.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

.container {
    height: 100vh;
}

.banner_div {
    display: grid;
    grid-template-columns: 50% 50%;
}
.banner_apresentacao {
    margin: 40% 0 0 10vw;
    text-align: left;
    transform: rotate(-5deg); 
    width: 100;
}

/* ============ Nome Animeção ============ */     
.apresentacao_nome {
    width: 15ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: var(--font-graf);
    font-size: 6vw;
    color: var(--azul-tres);
    font-weight: 400;
    text-shadow: 2px 4px 2px var(--cor-dois), -2px -2px 4px var(--cor-tres);
} @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
/* ============ Nome Animeção ============ */

} .ponto {
    color: var(--cor-tres);
    text-shadow: 2px 2px 2px var(--azul-dois), -2px -2px 2px var(--azul-dois);
}
.apresentcao_ola {
    font-family: var(--font-graf);
    color: var(--azul-um);
    font-size: 1.5vw;
    font-weight: 400;
    text-shadow: 2px 3px 2px var(--azul-tres), -2px -2px 2px var(--azul-dois);
}
.apresentacao_sub {
    font-family: var(--font-graf);
    color: var(--azul-dois);
    font-size: 1.9vw;
    font-weight: 400;
    text-shadow: 2px 3px 2px var(--azul-tres), -2px -2px 2px var(--azul-tres);
}

.banner_links {
    margin: 1vw;
}

.link_img {
    position: relative;
    margin-left: 2vw;
    display: inline-block;
}
.link_img:hover img, .link_img:active img {
    transform: scale(1.2);
    transition: transform 0.3s;
}

@media screen and (max-width:500px) {
   
}